@import "../shared/constants";

* {
  padding-left: 0;
  padding-right: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  display: inline-block;
  padding: 0.5vw 1vw;
  width: calc(77vw / 3);
}

// @media only screen and (max-width: 1300px) {
//   .photo {
//     width: calc(78vw / 3);
//   }
// }

.content-padding {
  display: inline-block;
  text-align: center;
}

