<app-miniature></app-miniature>
<section class="section">

  <div class="title has-text-weight-normal">
    <span class="forty-eight has-text-black">Со своей бедой вы не останетесь один на один!</span>
    <span class="thirty has-text-black">Мы поможем вам во всех вопросах, связанных с похоронами близкого человека</span>
  </div>

  <div class="content-padding" style="justify-content: space-around">
    <div class="photo" *ngFor="let el of description; let i = index">
      <app-image [image]="i" [info]="el"></app-image>
    </div>
  </div>

  <div class="content-padding" style="padding-top: 2vw">
    <div class="has-text-left content">
      <h1 class="title has-text-centered">Ритуальные услуги в Волгограде - ритуальная служба и ритуальные магазины</h1>
      <p> Заказать ритуальные услуги в Волгограде несложно. Достаточно купить газету и посмотреть объявления,
        размещенные в
        соответствующей рубрике или набрать в интернете "похоронное агентство", "организовать похороны". Вам тут же
        будет
        выдано несколько десятков сайтов ритуальных компаний, которые предлагают данные услуги. Но мало кто в Волгограде
        предоставляет ритуальные услуги в комплексе, как наша ритуальная компания. Ведь мы - это не только сеть
        ритуальных
        магазинов, ритуальные принадлежности и гробы в которых можно приобрести по недорогой цене. Мы также занимаемся
        изготовлением и установкой памятников на могилу, оградок, столиков, крестов. Кроме того, у нас работает служба,
        где вы можете заказать такие ритуальные услуги как: организация похорон в Волгограде и области, проведение
        поминок
        и других траурных церемоний, катафальные перевозки, помощь в перезахоронении и эксгумации, груз 200, и все
        другие
        услуги, которые могут быть востребованы в ритуальной сфере.
      </p>
      <p> Все ритуальные услуги оказываются нами в полном объеме и на высоком уровне, о чем свидетельствуют отзывы
        обратившихся к нам людей. Будьте уверены: обратившись к нам по любому вопросу, будь то - заказать место на
        кладбище, заказать или купить гроб, помочь в оформлении документов по поводу регистрации смерти или просто за
        консультацией - наши сотрудники отнесутся к вам со всем вниманием и душевной теплотой, помогут и поддержат в
        трудную минуту. Если у вас случилась беда - умер кто-то из близких, коллег, друзей - обращайтесь за ритуальными
        услугами в Волгоградскую ритуальную компанию "В последний путь...", ритуальная служба у нас работает
        круглосуточно. И помните - со своей бедой вы не останетесь один на один.
      </p>
    </div>
  </div>
</section>

